<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Identifier</key>
	<string>com.personalLibrary.dt.unit.custom_configurations</string>
	<key>Description</key>
	<string>This template is for Custom Configurations.</string>
	<key>Project</key>
	<dict>
		<key>Configurations</key>
		<dict>
			<key>Debug</key>
			<dict/>
			<key>Stage</key>
			<dict/>
			<key>AppStore</key>
			<dict/>
		</dict>
	</dict>
</dict>
</plist>
